In [ ]:
# resetear el Ã­ndice
prueba1 = df_etl1.reset_index()
prueba1

In [ ]:
prueba1.isnull().sum()

In [ ]:
prueba1.duplicated().sum()

In [ ]:
# Ver valores nulos
df[df.isnull().any(axis=1)]

In [ ]:
Verific = duplicados[duplicados['gaTrackerData.locationId'] == -1]
Verific

In [ ]:
# cantidad valores duplicados
df_etl1.duplicated().sum()

In [ ]:
# eliminar los valores duplicados por filas
city_t = city_t.drop_duplicates()

In [ ]:
def comparar_columnas(df, col1, col2):

    # crear un dataframe con solo las filas que tienen valores diferentes en ambas columnas
    df_diff = pd.concat([df.loc[df[col1] != df[col2], [col1, col2]],
                         df.loc[df[col2] != df[col1], [col1, col2]]])
    if df[col1].equals(df[col2]):
        return f"Las columnas '{col1}' y '{col2}' son iguales."
    else:
        valores_diferentes = df_diff.values.tolist()
        num_diferencias = sum(df[col1] != df[col2])
        return f"Las columnas '{col1}' y '{col2}' son diferentes. Hay {num_diferencias} valores diferentes.Los valores diferentes son: {valores_diferentes}."

def comparar_columnas(df, col1, col2):

    if df[col1].equals(df[col2]):
        return f"Las columnas '{col1}' y '{col2}' son iguales."
    else:
        num_diferencias = sum(df[col1] != df[col2])
        return f"Las columnas '{col1}' y '{col2}' son diferentes. Hay {num_diferencias} valores diferentes."

In [ ]:
# Agrupamos por la columna 'A' y contamos los valores nulos en 'B'
null_counts = df_merge135.groupby('header.location')['map.country'].apply(lambda x: x.isnull().sum())

In [ ]:

# Mostramos los resultados
null_counts

In [2]:
import pandas as pd

In [3]:
# Crear DataFrame de ejemplo
df = pd.DataFrame({'name': ['John', 'Maria', 'David'], 'city': ['Warsaw, MZ', 'Berlin, BE', 'Warsaw, MZ']})

In [4]:
df

    name        city
0   John  Warsaw, MZ
1  Maria  Berlin, BE
2  David  Warsaw, MZ

In [5]:
# Separar los valores en la columna "city" por la coma y crear nuevas columnas
df[['city1', 'city2']] = df['city'].str.split(',', expand=True)

In [6]:
df

    name        city   city1 city2
0   John  Warsaw, MZ  Warsaw    MZ
1  Maria  Berlin, BE  Berlin    BE
2  David  Warsaw, MZ  Warsaw    MZ

In [ ]:

# Imprimir DataFrame resultante
print(df)